<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
  </appSettings>
  <log4net>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="maximumFileSize" value="50KB" />

      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMddhh&quot;.txt&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--网页形式-->
        <!--<param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n &lt;b&gt;异常时间:&lt;/b&gt;%d &lt;BR&gt;%n &lt;b&gt;异常级别:&lt;/b&gt;%-5p  &lt;BR&gt;%n%m %n &lt;HR Size=1&gt;"/>-->
        <!--文本形式-->
        <!--<conversionPattern value="%n异常时间：%date 线程ID:[%thread] 异常级别：%-5level %n出错类：%logger property:[%property{NDC}]  %n错误描述：%m%n" />-->
		 
		 
		  <conversionPattern value="%d [%t] %-5p %c %m %F %L%n%n"/>
      </layout>
    </appender>



    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
    </root>

  </log4net>
</configuration>
